<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur distinctio enim ipsum minima nemo officiis
        placeat rem sit ullam vitae. At consequuntur incidunt nesciunt totam.</p>
    <p>&copy; {{year}}</p>
</footer>